<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conference Room | Fatima Inn</title>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<!-- Auditorio -->
<!-- <div class="container"> -->
  <!-- Dropdown Structure  web-->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/mediodia">Media día</a></li>
     <li><a href="/diacompleto">Día Completo</a></li>
     <li><a href="/paqueteturistico">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- Dropdown Structure  mobile-->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/mediodia">Media día</a></li>
     <li><a href="/diacompleto">Día Completo</a></li>
     <li><a href="/paqueteturistico">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- The new nav[ data-target ==> dropdown1] -->
  <nav id="nav-head">
    <div class="nav-wrapper">
      <img src="/images/Logo-FatimaInn.png" height="80" class="brand-logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a id="inicio" href="/index">Inicio</a></li>
           <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
           <li><a id="contactos" href="/contactos">Contáctenos</a></li>
           <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
           <li><a id="explore" href="/login">Login</a></li>
         <li><a id="explore" href="/signup">Sign Up</a></li>
         <li><a id="explore" href="/dashboard">Dashboard</a></li>
         <!-- Dropdown Trigger -->
          <li><a  id="tour" class="dropdown-trigger" href="#" data-target="dropdown1">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
      </ul>
    </div>
  </nav>
  <!-- data-target ==> dropdown2 -->
  <ul class="sidenav" id="mobile-demo">
      <li><a id="inicio" href="/index">Inicio</a></li>
      <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
      <li><a id="contactos" href="/contactos">Contáctenos</a></li>
      <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
      <li><a id="explore" href="/login">Login</a></li>
         <li><a id="explore" href="/signup">Sign Up</a></li>
  <!-- Dropdown Trigger -->
     <li><a  id="tourMobile" class="dropdown-trigger" href="#!" data-target="dropdown2">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
     <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
  </ul>
    
    <!-- Auditorio -->
  <!-- Slider /images -->
 <div class="container">
<div class="slider">
    <ul class="slides">
      <li>
        <img src="/auditorios/ConferenceRoom-HotelFatimaInn1.jpg">
      </li>
      <li>
        <img src="/auditorios/ConferenceRoom-HotelFatimaInn2.jpg"> 
      </li>
      <li>
        <img src="/auditorios/ConferenceRoom-HotelFatimaInn13.jpg"> 
      </li>
      <li>
        <img src="/auditorios/ConferenceRoom-HotelFatimaInn4.jpg"> 
      </li>
      <li>
        <img src="/auditorios/ConferenceRoom-HotelFatimaInn5.jpg"> 
      </li>
      <!-- <li>
          <img src="/auditorios/image1.jpeg"> 
        </li> -->
        <li>
            <img src="/auditorios/Head-FatimaInn.JPG"> 
          </li>
    </ul>
  </div>

                              <!-- termino slider -->
      <form action="#">
        <p  id="orange"></p>
      </form>
              <!-- Auditorio 1 -->
<div class="row" id="room-div">
    <div class="col s4" id = "right">
        <img src="/auditorios/ConferenceRoom-HotelFatimaInn1.jpg" height="200">
    </div>
    <div class="col s4" id = "right">
        <h1 class="size-override">Auditorio Económica</h1>
        <h4>• Ventilador<br>
        • 02 Micrófonos Inalambrico<br>
        • WiFi gratis<br>
        • 01 Equipo de audio y sonido<br>
        •	01 Laptop Para Expositor</h4><br>
        <form action="#">
            <p  id="orange"></p>
          </form>
        <i class="fas fa-wifi"></i>
        <i class="fas fa-laptop"></i>
        <i class="fas fa-chair"></i>
        <i class="fas fa-tv"></i>
        <i class="fas fa-phone"></i>
        <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="col s4" id = "right">
      <h1 class="size-override">Precio</h1>
     <h4> S/.55.00 la hora</h4>
     <!-- <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a> -->
    </div>

</div>

<!-- divider -->
<form action="#">
    <p  id="orange"></p>
  </form>
     <!-- Auditorio 2 -->
     
     <div class="row" id="room-div">
        <div class="col s4" id = "right">
            <img src="/auditorios/ConferenceRoom-HotelFatimaInn4.jpg" height="200">
        </div>
        <div class="col s4" id = "right">
            <h1 class="size-override">Auditorio Superior</h1>
            <h4>• Aire Acondicionado<br>
            • 02 Micrófonos Inalambrico<br>
            • WiFi gratis<br>
            • 01 Equipo de audio y sonido<br>
            •	01 Laptop Para Expositor</h4><br>
            <form action="#">
                <p  id="orange"></p>
              </form>
            <i class="fas fa-wifi"></i>
            <i class="fas fa-laptop"></i>
            <i class="fas fa-chair"></i>
            <i class="fas fa-tv"></i>
            <i class="fas fa-phone"></i>
            <i class="fas fa-pencil-alt"></i>
        </div>
        <div class="col s4" id = "right">
          <h1 class="size-override">Precio</h1>
         <h4> S/.70.00 la hora</h4>
         <!-- <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a> -->
        </div>

    </div>
    <!-- coffee Break -->
    <form action="#">
        <p  id="orange"></p>
      </form>
    <!-- Auditorio 2 -->
     
    <div class="row" id="room-div">
        <div class="col s4" id = "right">
          <br>
          <br>
            <img src="/images/Coffee Break ' Hotel Fatima Inn (1).png" height="220">
        </div>
        <div class="col s4" id = "right">
            <h1 class="size-override">Coffee Break<br></h1>
            <h4>• Sándwich de pollo deshilachado y mayonesa o empanada de pollo.<br>
            • Alfajor o brownie.<br>
            • Café o refresco maracuya o cocona o chicha morada. </h4> <br>
            <h4> • Sándwich de pollo deshilachado y mayonesa o empanada de pollo.<br>
              • Arroz chaufa con chorizo y huevo frito.<br>
              • Café ó chicha morada.</h4><br>
            <form action="#">
                <p  id="orange"></p>
              </form>
            <i class="fas fa-wifi"></i>
            <i class="fas fa-utensils"></i>
            <i class="fas fa-chair"></i>
            
        </div>
          <div class="col s4" id = "right">
            <h1 class="size-override">Precio <br></h1>
             <h4> S/.8.00 
             </h4><br><br>
             <h4> S/.10.00 </h4>
        </div>
    </div>
        
                            <!-- termino de /auditorios -->

          <!-- footer -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container left">
              © 2019 Copyright by LoyDesign 
              <a class="grey-text text-lighten-4 right" href="#!">
                Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
                ventas@fatimacamilainn.com | @fatimainnhotel
                </a>
          </div>
        </div>
      </footer>
    </div>  


    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/javascript.js"></script>
  

</body>
</html>