<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact | Fatima Inn</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
   <!-- style -->
    <link rel="stylesheet" type="text/css "href="/css/style.css">
</head>
<body>
    <!-- contactos -->
    <div class="container">
      <!-- Dropdown Structure  web-->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/mediodia">Media día</a></li>
         <li><a href="/diacompleto">Día Completo</a></li>
         <li><a href="/paqueteturistico">Paquete Turístico</a></li>
        <li class="divider"></li>
        <li><a id="salir" href="#!">Salir</a></li>
      </ul>
      <!-- Dropdown Structure  mobile-->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="/mediodia">Media día</a></li>
         <li><a href="/diacompleto">Día Completo</a></li>
         <li><a href="/paqueteturistico">Paquete Turístico</a></li>
        <li class="divider"></li>
        <li><a id="salir" href="#!">Salir</a></li>
      </ul>
      <!-- The new nav -->
      <nav id="nav-head">
        <div class="nav-wrapper">
            <img src="/images/Logo-FatimaInn.png" width="200" height="120" class="brand-logo">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
              <li><a id="inicio" href="/index">Inicio</a></li>
               <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
               <li><a id="contactos" href="/contactos">Contáctenos</a></li>
               <li><a id="comodidades" href="/auditorio">Auditorio</a></li>
               <li><a id="explore" href="/login">Login</a></li>
              <li><a id="explore" href="/singup">Sing Up</a></li>
        <!-- Dropdown Trigger -->
              <li><a  id="tour" class="dropdown-trigger" href="#" data-target="dropdown1">Tours<i class="material-icons right"></i></a></li>
              <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
          </ul>
        </div>
      </nav>
      
      <ul class="sidenav" id="mobile-demo">
          <li><a id="inicio" href="/index">Inicio</a></li>
          <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
          <li><a id="contactos" href="/contactos">Contáctenos</a></li>
          <li><a id="comodidades" href="/auditorio">Auditorio</a></li>
          <li><a id="explore" href="/explore">Explore</a></li>
          <li><a id="explore" href="/login">Login</a></li>
         <li><a id="explore" href="/singup">Sing Up</a></li>
      <!-- Dropdown Trigger -->
         <li><a  id="tourMobile" class="dropdown-trigger" href="#!" data-target="dropdown2">Tours<i class="material-icons right"></i></a></li>
         <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
      </ul>
 <br>
<!-- termino slider -->
<form action="#">
  <p  id="orange"></p>
</form>
<!-- form     -->
<div class="row">
    <form class="col s6" id="contactanos">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input placeholder="Full Name" id="full_name" type="text" name ="name" class="validate">
          <label for="full_name"><i class="fas fa-user"></i></label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input placeholder="Email" id="email" type="email" name="email" class="validate">
          <label for="email"><i class="far fa-envelope"></i></label>
        </div>
        
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="subject" type="text" class="validate">
          <label for="subject"><i class="far fa-address-card"></i>Asunto</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="phone" type="number" class="validate">
          <label for="phone"><i class="fas fa-phone"></i>Teléfono</label>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix"></i>
            <textarea placeholder="Message" id="textarea2" name ="message" class="materialize-textarea" data-length="120" style="height:200px"></textarea>
            <label for="textarea2"><i class="fas fa-align-justify"></i></label>
          </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="emailaddress" id="submit">Enviar
          <i class="material-icons right"></i>
        </button>
      </div>
    </form>
      <!-- termino de formulario -->
      <!-- links for address -->
      <div class="col s6" >
        <div class="card blue-light darken-1" id="card">
            <h4 class="card-title"><i class="fas fa-hotel"></i> Dirección</h4>
            <p> Jr. San Martín N° 127, Tarapoto, San Martin - Peru<br>
                Plaza de Armas    
            </p> 
        </div>
  </div>     

  <!-- links for phone -->
  <div class="col s6">
        <div class="card blue-light darken-1" id="card">
          <h4 class="card-title"><img src="/RedesSociales/phone.png" width="27px" alt="27px">Contáctos</h4>
          <p>
            +(51) 042 566 359 <br>
            +(51) 942 889 047 <br>
            +(51) 986 585 921 <br>
            +1 804-4775524 English
          </p>  
        </div>
    </div>
  
  <!-- links for email -->
  <div class="col s6">
    <div class="card blue-light darken-1" id="card">
      <h4 class="card-title">Redes Sociales</h4>
      <p>
        <a href="mailto:loydith@gmail.com">ventas@fatimacamilainn.com</a><br><br>
        <a href="mailto:loydith@gmail.com"><img src="/RedesSociales/email.png" width="30px" alt="30px"></a>
        <a href="https://www.facebook.com/fatimainnhotel"><img src="/RedesSociales/facebook.png" width="30px" alt="30px"></a>
        <a href="https://www.linkedin.com/company/fatimainn/?viewAsMember=true"><img src="/RedesSociales/in.png" width="30px" alt="30px"></a>
        <a href="https://twitter.com/fatimainnhotel"><img src="/RedesSociales/twitter.png" width="30px" alt="30px"></a>
        <a href="https://www.instagram.com/hotelfatimainn/"><img src="/RedesSociales/instagram.png" width="30px" alt="30px"></a>
      </p> 
    </div>
  </div>

  </div>

<!-- footer -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
              © 2019 Copyright by LoyDesign 
              <a class="grey-text text-lighten-4 right" href="#!">
                Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
                ventas@fatimacamilainn.com | @fatimainnhotel
                </a>
          </div>
        </div>
      </footer>
    </div>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <!-- script send email -->
   <script>
     $('form').on('submit', (e) =>{
       e.preventDefault();
      const name = $('#full_name').val().trim(); 
      const subject = $('#subject').val().trim();
      const email = $('#email').val().trim();
      const phone = $('#phone').val().trim();
      const textarea = $('#textarea2').val().trim()

      const data = {
        name,
        subject,
        email,
        phone,
        textarea
      };
      $.post('/email', data, function(res){

        console.log(res);
      })
     });
   
   </script>
   
  
    <!-- <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/javascript.js"></script>
</body>
</html>