<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | Fatima Inn</title>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
<!-- DASHBOARD -->
<nav id="nav-head">
  <div class="nav-wrapper">
    <img src="/images/Logo-FatimaInn.png" height="80" class="brand-logo">
    <a lass="sidenav-trigger"></a>
    <ul class="right hide-on-med-and-down">
        <li><a id="inicio"><i class="fas fa-columns circle"></i>Bashboard | Front Desk</a></li>
        <li><a id="explore" href="#"><i class="far fa-times-circle circle "></i>Log out</a></li>
  
    </ul>
  </div>
</nav>
<!-- Left NavBar -->

<div class="row">
<div class="col s2">
<ul class="collection">
    <li class="collection-item avatar">
    <i class="fas fa-list circle blue"></i>
    <a href="#!" class="collection-item">Guest List</a>
    </li>
    <li class="collection-item avatar">
    <i class="circle fas fa-heart pink"></i>
    <a href="#!" class="collection-item">Guest Reviews</a> 
    </li>
    <li class="collection-item avatar">
      <i class="circle far fa-calendar-alt "></i>
      <a href="#!" class="collection-item">Rates &Availability</a>   
    </li>
    <li class="collection-item avatar">
      <i class="far fa-envelope circle green"></i>
      <a href="#!" class="collection-item">Inbox</a>
    </li>
    <li class="collection-item avatar">
    <i class="fas fa-user-tie circle brown"></i>
    <a href="#!" class="collection-item">Business Travels</a>
    </li>
    <li class="collection-item avatar">
    <i class="fas fa-store-alt circle yellow"></i>
    <a href="#!" class="collection-item">Travel Agency</a>
    </li>
    <li class="collection-item avatar">
    <i class="fas fa-store-alt circle orange"></i>
    <a href="#!" class="collection-item">MarketPlace</a>
    </li>
    <li class="collection-item avatar">
    <i class="fas fa-chart-line circle purple"></i>
    <a href="#!" class="collection-item">Analytics</a>
    </li>
  </ul>
</div>  
<!-- display reservaciones.html -->
<div class="col s10">
    <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <table class="table table-sm table-hover" id="train-table">
        <thead>
            <tr>
            <th class="col-md-2">Full Name</th>
            <th class="col-md-2">Room</th>
            <th class="col-md-1">Qty_Rooms</th>
            <th class="col-md-2">Check_In</th>
            <th class="col-md-2">Check_Out</th>
            <th class="col-md-2">Qty_Adults</th>
            <th class="col-md-1">Qty_Children</th>
            <th class="col-md-1">Price</th>
            
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    </div>
    </div>

</div>
</div>   
<!-- footer -->
<footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container left">
          © 2019 Copyright by LoyValDesign 
          <a class="grey-text text-lighten-4 right" href="#!">
            Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
            ventas@fatimacamilainn.com | @fatimainnhotel
            </a>
          </div>
        </div>
      </footer>
    <!-- </div>   -->
  </div>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</body>
</html>