<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Día Completo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css "href="style.css">
</head>
<body>
<!-- Dia completo -->
   
<div class="container">
  <!-- Dropdown Structure  web-->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="views/mediodia.html">Media día</a></li>
     <li><a href="views/diacompleto.html">Día Completo</a></li>
     <li><a href="views/paqueteturistico.html">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- Dropdown Structure  mobile-->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="views/mediodia.html">Media día</a></li>
     <li><a href="views/diacompleto.html">Día Completo</a></li>
     <li><a href="views/paqueteturistico.html">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- The new nav[ data-target ==> dropdown1] -->
  <nav id="nav-head">
    <div class="nav-wrapper">
      <img src="public/images/Logo-FatimaInn.png" width="200" height="120" class="brand-logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a id="inicio" href="views/index.html">Inicio</a></li>
           <li><a id="habitaciones" href="views/habitaciones.html">Habitaciones</a></li>
           <li><a id="contactos" href="views/contactos.html">Contáctenos</a></li>
           <li><a id="auditorio" href="views/auditorio.html">Auditorio</a></li>
           <li><a id="explore" href="views/login.html">Login</a></li>
         <li><a id="explore" href="views/singup.html">Sing Up</a></li>
    <!-- Dropdown Trigger -->
          <li><a  id="tour" class="dropdown-trigger" href="#" data-target="dropdown1">Tours<i class="material-icons right"></i></a></li>
          <li><a id="reservaciones" class="waves-effect waves-light btn" href="views/reservaciones.html">Reserva</a></li>
      </ul>
    </div>
  </nav>
  <!-- data-target ==> dropdown2 -->
  <ul class="sidenav" id="mobile-demo">
      <li><a id="inicio" href="views/index.html">Inicio</a></li>
      <li><a id="habitaciones" href="views/habitaciones.html">Habitaciones</a></li>
      <li><a id="contactos" href="views/contactos.html">Contáctenos</a></li>
      <li><a id="auditorio" href="views/auditorio.html">Auditorio</a></li>
      <li><a id="explore" href="views/login.html">Login</a></li>
         <li><a id="explore" href="views/singup.html">Sing Up</a></li>
  <!-- Dropdown Trigger -->
     <li><a  id="tourMobile" class="dropdown-trigger" href="#!" data-target="dropdown2">Tours<i class="material-icons right"></i></a></li>
     <li><a id="reservaciones" class="waves-effect waves-light btn" href="views/reservaciones.html">Reserva</a></li>
  </ul>
  <br>  

<!-- Slider Images -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="images/sauce-1.jpg">
      </li>
      <li>
        <img src="images/sauce4.jpg"> 
      </li>
      <li>
        <img src="images/sauce_resort_2.jpg"> 
      </li>
      <li>
        <img src="images/tour-parque-selva-viva.jpg"> 
      </li>
      <li>
        <img src="images/alto-mayo-moyobamba-rioja-tarapoto-peru-1-800x600.jpg"> 
      </li>
      <li>
        <img src="images/alto-mayo-moyobamba-rioja-tarapoto-peru.jpg"> 
      </li>
      <li>
        <img src="images/alto-mayo-tour.jpg"> 
      </li>
      <li>
        <img src="images/laguna-azul.jpg"> 
      </li>
      <li>
        <img src="images/lagunaAzul-1.jpg"> 
      <li>
      <li>
          <img src="images/Hab2Camas2.JPG"> 
      </li>
      <li>
          <img src="images/paseocaballo.jpg"> 
      </li>
      <li>
          <img src="images/balsa.jpg"> 
      </li>
      <li>
          <img src="images/banostermales.jpg"> 
      </li>
      <li>
          <img src="images/pishurayacu-galeria3.jpg"> 
      </li>
      <li>
          <img src="images/pishurayacu-galeria4.jpg"> 
      </li>
      <li>
          <img src="images/tour-parque-selva-viva.jpg"> 
      </li>
      <li>
          <img src="images/tour-pishurayacu-3.jpg"> 
      </li>
      <li>
        <img src="images/orquideas.jpg"> 
    </li>
      
    </ul>
  </div>
  <!-- termino de slide pictures -->
  
    

      <!-- footer -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
              © 2019 Copyright by LoyDesign 
              <a class="grey-text text-lighten-4 right" href="#!">
                Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
                ventas@fatimacamilainn.com | @fatimainnhotel
                </a>
          </div>
        </div>
      </footer>
    </div>  


    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="javascript.js"></script>
  
</body>
</html>