<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rooms | Fatima Inn</title>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>
<!-- habitaciones -->
    
<div class="container">
  <!-- Dropdown Structure  web-->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/mediodia">Media día</a></li>
     <li><a href="/diacompleto">Día Completo</a></li>
     <li><a href="/paqueteturistico">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- Dropdown Structure  mobile-->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/mediodia">Media día</a></li>
     <li><a href="/diacompleto">Día Completo</a></li>
     <li><a href="/paqueteturistico">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- The new nav[ data-target ==> dropdown1] -->
  <nav id="nav-head">
    <div class="nav-wrapper">
      <img src="/images/Logo-FatimaInn.png" height="80" class="brand-logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a id="inicio" href="/index">Inicio</a></li>
           <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
           <li><a id="contactos" href="/contactos">Contáctenos</a></li>
           <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
           <li><a id="explore" href="/login">Login</a></li>
          <li><a id="explore" href="/singup">Sing Up</a></li>
          <li><a id="explore" href="/dashboard">Dashboard</a></li>
    <!-- Dropdown Trigger -->
          <li><a  id="tour" class="dropdown-trigger" href="#" data-target="dropdown1">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
      </ul>
    </div>
  </nav>
  <!-- data-target ==> dropdown2 -->
  <ul class="sidenav" id="mobile-demo">
      <li><a id="inicio" href="/index">Inicio</a></li>
      <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
      <li><a id="contactos" href="/contactos">Contáctenos</a></li>
      <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
      <li><a id="explore" href="/login">Login</a></li>
      <li><a id="explore" href="/signup">Sign Up</a></li>
  <!-- Dropdown Trigger -->
     <li><a  id="tourMobile" class="dropdown-trigger" href="#!" data-target="dropdown2">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
     <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
  </ul>
  <br>
    
  <!-- Line divition     -->
  <form action="#">
      <p  id="orange"></p>
    </form>

   <!-- terminado el slide -->
    <!-- Habitacion Individual Economica -->
        <div class="row" id="room-div">
            <div class="col s4" id = "right">
                <img src="/images/HIndividual1.jpg" height="200">
            </div>
            <div class="col s4" id = "right">
                <h1 class="card-title">Individual Económica</h1>
                <p>• Ventilador<br>
                • Desayuno Continental<br>
                • WiFi gratis<br>
                • Taxi de recojo<br></p>
                <form action="#">
                    <p  id="orange"></p>
                  </form>
                <i class="fas fa-wifi"></i>
                <i class="fas fa-tv"></i>
                <i class="fas fa-bed"></i>
                <i class="fas fa-shower"></i>
                <i class="fas fa-phone"></i>
                <i class="fas fa-utensils"></i>
                <i class="fas fa-taxi"></i>
            </div>
            <div class="col s4" id = "right">
              <h1 class="card-title">Precio</h1>
             <p> S/.80.00</p>
             <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a>
            </div>

        </div>
        <!-- divider -->
        <form action="#">
            <p  id="orange"></p>
          </form>
   <!-- Habitacion Individual Superior -->
             
             <div class="row" id="room-div">
                <div class="col s4" id = "right">
                    <img src="/images/HIndividual2.jpg" height="200">
                </div>
                <div class="col s4" id = "right">
                    <h1 class="card-title">Individual Superior</h1>
                    <p>• Aire Acondicionado<br>
                    • Desayuno Continental<br>
                    • WiFi gratis<br>
                    • Taxi de recojo<br></p>
                    <form action="#">
                        <p  id="orange"></p>
                      </form>
                    <i class="fas fa-wifi"></i>
                    <i class="fas fa-tv"></i>
                    <i class="fas fa-bed"></i>
                    <i class="fas fa-shower"></i>
                    <i class="fas fa-phone"></i>
                    <i class="fas fa-utensils"></i>
                    <i class="fas fa-taxi"></i>
                </div>
                <div class="col s4" id = "right">
                  <h1 class="card-title">Precio</h1>
                 <p> S/.95.00</p>
                 <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a>
                </div>
    
            </div>
  <!-- divider -->
            <form action="#">
                <p  id="orange"></p>
              </form>
  <!-- Habitacion Matrimonial Economica -->
                <div class="row" id="room-div">
                    <div class="col s4" id = "right">
                        <img src="/images/HMatrimonial3.JPG" height="200">
                    </div>
                    <div class="col s4" id = "right">
                        <h1 class="card-title">Matrimonial Económica</h1>
                        <p>• Ventilador<br>
                        • Desayuno Continental<br>
                        • WiFi gratis<br>
                        • Taxi de recojo<br></p>
                        <form action="#">
                            <p  id="orange"></p>
                          </form>
                        <i class="fas fa-wifi"></i>
                        <i class="fas fa-tv"></i>
                        <i class="fas fa-bed"></i>
                        <i class="fas fa-shower"></i>
                        <i class="fas fa-phone"></i>
                        <i class="fas fa-utensils"></i>
                        <i class="fas fa-taxi"></i>
                        
                    </div>
                    <div class="col s4" id = "right">
                      <h1 class="card-title">Precio</h1>
                     <p> S/.100.00</p>
                     <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a>
                    </div>
        
                </div>
                <!-- divider -->
                <form action="#">
                    <p  id="orange"></p>
                  </form>
                <!-- Matrimonial superior -->
                <div class="row" id="room-div">
                    <div class="col s4" id = "right">
                        <img src="/images/HMatrimonial4.JPG" height="200">
                    </div>
                    <div class="col s4" id = "right">
                        <h1 class="card-title">Matrimonial Superior</h1>
                        <p>• Aire Acondicionado<br>
                        • Desayuno Continental<br>
                        • WiFi gratis<br>
                        • Taxi de recojo<br></p>
                        <form action="#">
                            <p  id="orange"></p>
                          </form>
                        <i class="fas fa-wifi"></i>
                        <i class="fas fa-tv"></i>
                        <i class="fas fa-bed"></i>
                        <i class="fas fa-shower"></i>
                        <i class="fas fa-phone"></i>
                        <i class="fas fa-utensils"></i>
                        <i class="fas fa-taxi"></i>
                    </div>
                    <div class="col s4" id = "right">
                      <h1 class="card-title">Precio</h1>
                     <p> S/.120.00</p>
                     <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a>
                    </div>
        
                </div>
                <!-- divider -->
                <form action="#">
                    <p  id="orange"></p>
                  </form>
                <!-- Habitacion de 2 camas -->
                <div class="row" id="room-div">
                    <div class="col s4" id = "right">
                        <img src="/images/Hab2Camas1.JPG" height="200">
                    </div>
                    <div class="col s4" id = "right">
                        <h1 class="card-title">2 Camas Económica</h1>
                        <p>• Ventilador<br>
                        • Desayuno Continental<br>
                        • WiFi gratis<br>
                        • Taxi de recojo<br> </p>
                        <form action="#">
                            <p  id="orange"></p>
                          </form>
                        <i class="fas fa-wifi"></i>
                        <i class="fas fa-tv"></i>
                        <i class="fas fa-bed"></i>
                        <i class="fas fa-shower"></i>
                        <i class="fas fa-phone"></i>
                        <i class="fas fa-utensils"></i>
                        <i class="fas fa-taxi"></i>
                    </div>
                    <div class="col s4" id = "right">
                      <h1 class="card-title">Precio</h1>
                     <p> S/.110.00</p>
                     <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a>
                    </div>
        
                </div>
                <!-- divider -->
                <form action="#">
                    <p  id="orange"></p>
                  </form>
                <!-- Habitacion 2 camas superior
                 -->
                 <div class="row" id="room-div">
                    <div class="col s4" id = "right">
                        <img src="/images/Hab2Camas2.JPG" height="200">
                    </div>
                    <div class="col s4" id = "right">
                        <h1 class="card-title">2 Camas Superior</h1>
                        <p>• Aire Acondicionado<br>
                        • Desayuno Continental<br>
                        • WiFi gratis<br>
                        • Taxi de recojo<br></p>
                        <form action="#">
                            <p  id="orange"></p>
                          </form>
                        <i class="fas fa-wifi"></i>
                        <i class="fas fa-tv"></i>
                        <i class="fas fa-bed"></i>
                        <i class="fas fa-shower"></i>
                        <i class="fas fa-phone"></i>
                        <i class="fas fa-utensils"></i>
                        <i class="fas fa-taxi"></i>
                    </div>
                    <div class="col s4" id = "right">
                      <h1 class="card-title">Precio</h1>
                     <p> S/.130.00</p>
                     <a class="btn-floating btn-large waves-effect waves-light orange" ><i class="material-icons">add</i></a>
                    </div>
        
                </div>

      <!-- footer -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
              © 2019 Copyright by LoyDesign 
          <a class="grey-text text-lighten-4 right" href="#!">
              Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
              ventas@fatimacamilainn.com | @fatimainnhotel
              </a>
          </div>
        </div>
      </footer>
  </div>  


    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/javascript.js"></script>
  
</body>
</html>