<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fatima Inn</title>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
<!-- INDEX -->
<!-- Dropdown Structure  web-->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/mediodia">Media día</a></li>
   <li><a href="/diacompleto">Día Completo</a></li>
   <li><a href="/paqueteturistico">Paquete Turístico</a></li>
  <li class="divider"></li>
  <li><a id="salir" href="#!">Salir</a></li>
</ul>
<!-- Dropdown Structure  mobile-->
<ul id="dropdown2" class="dropdown-content">
  <li><a href="/mediodia">Media día</a></li>
   <li><a href="/diacompleto">Día Completo</a></li>
   <li><a href="/paqueteturistico">Paquete Turístico</a></li>
  <li class="divider"></li>
  <li><a id="salir" href="#!">Salir</a></li>
</ul>
<!-- The new nav[ data-target ==> dropdown1] -->
<nav id="nav-head">
  <div class="nav-wrapper">
    <img src="/images/Logo-FatimaInn.png" height="80" class="brand-logo">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a id="inicio" href="/index">Inicio</a></li>
        <li><a id="explore" href="/explore">Explore</a></li>
         <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
         <li><a id="contactos" href="/contactos">Contáctenos</a></li>
         <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
         <li><a id="explore" href="/login">Login</a></li>
         <li><a id="explore" href="/signup">Sign Up</a></li>
  <!-- Dropdown Trigger -->
        <li><a  id="tour" class="dropdown-trigger" href="#" data-target="dropdown1">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
    </ul>
  </div>
</nav>
<!-- data-target ==> dropdown2 -->
<ul class="sidenav" id="mobile-demo">
    <li><a id="inicio" href="index">Inicio</a></li>
    <li><a id="explore" href="/explore">Explore</a></li>
    <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
    <li><a id="contactos" href="/contactos">Contáctenos</a></li>
    <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
    <li><a id="explore" href="/login">Login</a></li>
    <li><a id="explore" href="/signup">Sign Up</a></li>
<!-- Dropdown Trigger -->
   <li><a  id="tourMobile" class="dropdown-trigger" href="#!" data-target="dropdown2">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
   <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
</ul>
<!-- <br> -->
  
    <!-- Slider Images -->
<!-- <div class="container"> -->
<div class="slider">
  <ul class="slides">
    <li>
          <img src="/images/HMatrimonial2.JPG"> 
    </li>
    <li>
      <img src="/images/HIndividual1.jpg"> 
    </li>
    <li>
        <img src="/images/Hab2Camas2.JPG"> 
    </li>
    <li>
      <img src="/images/HIndividual2.jpg"> 
    </li>
    <li>
        <img src="/images/DesayunoCecina-FatimaInn.jpg"> 
    </li>
    <li>
      <img src="/images/HIndividual3.jpg"> 
    </li>
    <li>
      <img src="/images/HIndividual4.jpg"> 
    </li>
    
    <li>
      <img src="/images/HMatrimonial3.JPG"> 
    </li>
    <li>
      <img src="/images/HMatrimonial4.JPG"> 
    </li>
    <li>
      <img src="/images/Hab2Camas1.JPG"> 
    <li>
    
    <li>
        <img src="/images/Restroom-HotelFatimaInn.jpg"> 
    </li>
    <li>
        <img src="/images/Restroom1-HotelFatimaInn.jpg"> 
    </li>
    <li>
        <img src="/images/Reception-HotelFatimaInn9.jpg">
      </li>
    <li>
        <img src="/images/Reception-HotelFatimaInn.jpg"> 
    </li>
    <li>
        <img src="/images/Reception-HotelFatimaInn2.jpg"> 
    </li>
    <li>
        <img src="/images/ComedorPrincipal-HotelFatimaInn1.jpg"> 
    </li>
    <li>
        <img src="/images/ComedorPrincipal-HotelFatimaInn2.jpg"> 
    </li>
  </ul>
</div>

<!--create cards left 1-->
<div class="row">
  <div class="col s6 m6" id = "right">
    <h3 class="header">Habitaciones y Precios</h3>
    <div id = "hotel-results">
    <div class="card horizontal" id="orange">
      <div class="card-image">
        <img src="/images/HMatrimonial3.JPG">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            Contamos con habitaciones Matrimoniales, Individuales y 2 Camas
            con toda las necesidades que requieren nuestros huéspedes. Para 
            nuestras reservaciones directas siempre contamos con 
            grandes descuentos en alojamiento y servicio de Tours.
            
        </div>
        <div class="card-action">
          <a href="/habitaciones">Más</a>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- create cards center 2-->
  <div class="col s6 m6" id = "Left">
    <h3 class="header">Ubicación</h3>
    <div id="events-results">
    <div class="card horizontal" id="orange">
      <div class="card-image">
        <img src="/images/Picture1.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          
              Hotel Fatima Inn. está ubicado a media cuadra de la Plaza de Armas, 
              zona céntrica de la ciudad de Tarapoto, por lo tanto, nuestros huéspedes 
              tienen una ubicación privilegiada para movilizarse durante el dia y noche 
              con total seguridad.
        </div>
          <div class="card-action" id="map-link">
            <a href="">Más</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- create cards right 3 -->
<div class="row">
  <div class="col s6 m6" id = "right">
    <h3 class="header">Nuestra Propiedad</h3>
    <div id = "hotel-results">
    <div class="card horizontal" id="orange">
      <div class="card-image">
        <img src="/images/Reception-HotelFatimaInn2.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
           El Hotel Fatima Inn. es un edificio de 5 pisos
           de infraestructura moderna y para la seguridad de todos contamos
           en las areas comunes camaras de seguridad las 24 horas. Además,
           los años actualizamos nuestras habitaciones con el proposito de 
           dar un buen servicio y hacer que los huéspedes se sientan como en casa.
        </div>
        <div class="card-action">
            <a href="/explore">Más</a>
          </div>
      </div>
    </div>
  </div>
  </div>
<!-- create cards right -->
  <div class="col s6 m6" id = "Left">
    <h3 class="header">Sala de Conferencia</h3>
    <div id="events-results">
    <div class="card horizontal" id="orange">
      <div class="card-image">
        <img src="/images/Auditorio2-FatimaInnHotel.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
              Contamos con 2 amplios Audutorios con todo lo moderno
              para que realizen sus eventos, charlas, capacitaciones, 
              pesentaciones de productos, etc con una capacidad de 120 
              personas, además de regalarles publicidad gratuita 
              en toda nuestras plataformas de facebook, twitter, Instagram.
            
        </div>
        <div class="card-action">
          <a href="/auditorio">Más</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- footer -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container left">
          © 2019 Copyright by LoyValDesign 
          <a class="grey-text text-lighten-4 right" href="#!">
            Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
            ventas@fatimacamilainn.com | @fatimainnhotel
            </a>
          </div>
        </div>
      </footer>
    <!-- </div>   -->
  </div>
<!-- </div> -->

  
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/javascript.js"></script>
  </body>
</html>