<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Package Tours | Fatima Inn</title>
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
   <!-- Package Tours -->
  <!-- Dropdown Structure  web-->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/mediodia">Media día</a></li>
     <li><a href="/diacompleto">Día Completo</a></li>
     <li><a href="/paqueteturistico">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- Dropdown Structure  mobile-->
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/mediodia">Media día</a></li>
     <li><a href="/diacompleto">Día Completo</a></li>
     <li><a href="/paqueteturistico">Paquete Turístico</a></li>
    <li class="divider"></li>
    <li><a id="salir" href="#!">Salir</a></li>
  </ul>
  <!-- The new nav[ data-target ==> dropdown1] -->
  <nav id="nav-head">
    <div class="nav-wrapper">
      <img src="/images/Logo-FatimaInn.png" height="80" class="brand-logo">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a id="inicio" href="/index">Inicio</a></li>
           <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
           <li><a id="contactos" href="/contactos">Contáctenos</a></li>
           <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
           <li><a id="explore" href="/login">Login</a></li>
         <li><a id="explore" href="/signup">Sign Up</a></li>
         <li><a id="explore" href="/dashboard">Dashboard</a></li>
    <!-- Dropdown Trigger -->
          <li><a  id="tour" class="dropdown-trigger" href="#" data-target="dropdown1">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
      </ul>
    </div>
  </nav>
  <!-- data-target ==> dropdown2 -->
  <ul class="sidenav" id="mobile-demo">
      <li><a id="inicio" href="/index">Inicio</a></li>
      <li><a id="habitaciones" href="/habitaciones">Habitaciones</a></li>
      <li><a id="contactos" href="/contactos">Contáctenos</a></li>
      <li><a id="auditorio" href="/auditorio">Auditorio</a></li>
      <li><a id="explore" href="/login">Login</a></li>
         <li><a id="explore" href="/signup">Sign Up</a></li>
  <!-- Dropdown Trigger -->
     <li><a  id="tourMobile" class="dropdown-trigger" href="#!" data-target="dropdown2">Tours<i class="material-icons right">arrow_drop_down</i></a></li>
     <li><a id="reservaciones" class="waves-effect waves-light btn" href="/reservaciones">Reserva</a></li>
  </ul>
    
   <!-- Slider Images -->
<!-- <div class="container"> -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/lamas-tarapoto-peru-2-800x600.jpg">
      </li>
      <li>
        <img src="/images/cataratas-de-Ahuashiyacu.jpg"> 
      </li>
      <li>
        <img src="/images/moyobamba.jpg"> 
      </li>
      <li>
        <img src="/images/balsa.jpg"> 
      </li>
      <li>
        <img src="/images/banostermales.jpg"> 
      </li>
      <li>
        <img src="/images/alto-mayo-moyobamba-rioja-tarapoto-peru-1-800x600.jpg"> 
      </li>
      <li>
        <img src="/images/laguna-azul.jpg"> 
      </li>
      <li>
        <img src="/images/loro.jpg"> 
      </li>
      <li>
        <img src="/images/Castillo-in-Lamas-Peru.jpg"> 
      <li>
      <li>
          <img src="/images/Lamas3.jpg"> 
      </li>
      <li>
          <img src="/images/lamas-tarapoto-peru-2-800x600.jpg"> 
      </li>
      <li>
          <img src="/images/paseocaballo.jpg"> 
      </li>
      <li>
          <img src="/images/pishurayacu-galeria3.jpg"> 
      </li>
      <li>
          <img src="/images/pishurayacu-galeria4.jpg"> 
      </li>
      <li>
          <img src="/images/cataratas.jpg"> 
      </li>
      <li>
          <img src="/images/Tours-en-Tarapoto-Lamas-Ahuashiyacu-Altomayo-7-900x500.jpg"> 
      </li>
    </ul>
  </div>
  <!-- termino de slide pictures -->
<form action="#">
    <p  id="orange"></p>
</form>
  <h5 id="card">Paquetes Turisticos "Habitaciones + Tours"</h5>
<form action="#">
      <p  id="orange"></p>
    </form>
<!-- package 2Days-1Nights -->

<div class="row">
  
  <div class="col s4">
    <div class="card">
      <div class="card-image">
          <img src="package/Tour2Dias-FatimaInn.jpg">
      </div>
      <div class="card-content">
            • Habitación.<br>
            • Desayuno.<br>
            • Taxi de recojo y traslado del aeropuerto.<br>
            • Guía Turístico.<br>
            • Entradas a los lugares turísticos.<br>
            • Salida al Tour incluye recojo y trasalado del Hotel.<br>
            • Tour recojo y traslado del Hotel.<br>
            • Tour exclusivo a la ciudad de Lamas y Cataratas del Ahuashiyacu.
      </div>
    <div class="card-action">
        <a href="#">Precio desde S/.150.00 <i class="fas fa-user"></i></a>
    </div> 
  </div>
  </div>
  
  <!-- package 3Days-2Nights -->
  <div class="col s4">
    <div class="card">
      <div class="card-image">
          <img src="package/Tour3Dias-FatimaInn.jpg">
        </div>
      <div class="card-content">
            
            • Habitación.<br>
            • Desayuno.<br>
            • Taxi de recojo y traslado del aeropuerto.<br>
            • Guía, Almuerzo a la carta.<br>
            • Entradas a los lugares turísticos.<br>
            • Salida al Tour incluye recojo y trasalado del Hotel.<br>
            • Tour recojo y traslado del Hotel.<br>
            • Tour exclusivo a la ciudad de Lamas, Cataratas Ahuashiyacu, Pishuriyacu y Laguna Azul.<br> 
          
        </div>
      <div class="card-action">
         <a href="#">Precio desde S/.280.00 <i class="fas fa-user"></i></a>
      </div> 
    </div>
    </div>

    <!-- package 5Days-4Nights -->

  <div class="col s4">
  <div class="card">
      <div class="card-image">
        <img src="package/Tour5Dias-FatimaInn.jpg">
      </div>
      <div class="card-content">
          
              • Habitación.<br>
              • Desayuno.<br>
              • Taxi de recojo y traslado del aeropuerto.<br>
              • Guía, Almuerzo a la carta.<br>
              • Entradas a los lugares turísticos.<br>
              • Salida al Tour incluye recojo y trasalado del Hotel.<br>
              • Tour recojo y traslado del Hotel.<br>
              • Tour exclusivo a la ciudad de Lamas, Cataratas Ahuashiyacu, Pishuriyacu, Laguna Azul y Alto Mayo.
      </div>
      <div class="card-action">
          <a href="#">Precio Desde S/.430.00 <i class="fas fa-user"></i></a>
      </div> 
    </div>
    </div>
  
</div>

      <!-- footer -->
    <footer class="page-footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
              © 2019 Copyright by LoyDesign 
              <a class="grey-text text-lighten-4 right" href="#!">
                Jr. San Martín N° 127, Tarapoto | (51) 042 566 359 | +1 804 477 5524 | 942 889 047 | 986 585 921<br>
                ventas@fatimacamilainn.com | @fatimainnhotel
                </a>
          </div>
        </div>
      </footer> 


    <script src="https://code.jquery.com/jquery-3.4.0.min.js"integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/javascript.js"></script>
  
</body>
</html>